numpy
pandas
scikit-learn
matplotlib
seaborn
jupyter
tensorflow
keras
spacy
gensim
scipy
xgboost
lightgbm
catboost
flask
fastapi
uvicorn
streamlit
streamlit-extras
streamlit-option-menu
tqdm
PyYAML
h5py
joblib
dill
requests
addfips
plotly-geo
geopandas
pyshp
shapely
category-encoders
skfeature-chappers
